* {
    margin: 0;
    padding: 0;
}

body {
    color: #111111;
    font-family: "LatoLatinWebLight", "Helvetica", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

h1 {
    font-size: 9rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "LatoLatinWebLight", "Helvetica", sans-serif;
}

a {
    color: #FFFFFF;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
    color: #0B0B0E;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

a.home:hover {
    color: #D9D9E2;
}

strong {
    font-family: "LatoLatinWeb", "Helvetica", sans-serif;
    font-weight: 400;
}

::selection {
    background: #5B9AD1; /* WebKit/Blink Browsers */
    color: #FFFFFF;
}
::-moz-selection {
    background: #5B9AD1; /* Gecko Browsers */
    color: #FFFFFF;
}

.bg-dark {
    background-color: #0B0B0E;
}

.dark {
    color: #0B0B0E;
}

.bg-light {
    background-color: #FFFFFF;
}

.light {
    color: #FFFFFF;
}

.bg-none {
    background-color: transparent;
}

.bg-primary {
    background-color: #5B9AD1;
}

.primary {
    color: #5B9AD1;
}

.m-auto {
    margin: auto;
}

.my-auto {
    margin: auto 0;
}

.txt-larger {
    font-size: 1.8rem;
}

.xo-header-title {
    font-size: 4.5rem;
    line-height: normal;
}

.xo-min-100vh {
    min-height: calc(100vh - 84px);
}

.xo-min-90vh {
    min-height: calc(90vh - 84px);
}

.xo-min-60vh {
    min-height: calc(60vh - 84px);
}

.xo-min-40vh {
    min-height: calc(40vh - 84px);
}

.xo-min-10vh {
    min-height: calc(10vh - 24px);
}

.xo-min-380w {
    min-width: 380px;
}

.xo-70-wide {
    width: 70%;
}

.xo-section {
    padding: 42px;
    position: relative;
    text-align: center;
}

.xo-section-content {
    position: relative;
}

.section-header {
    margin-top: 0;
    margin-bottom: 12px;
}

.xo-button {
    background-color: transparent;
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "LatoLatinWebSemibold", "Helvetica", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 24px auto;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.xo-button:hover {
    background-color: #0B0B0E;
    color: #FFFFFF;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.xo-product {
    display: inline-block;
    padding: 24px;
}

.xo-product:hover a {
    color: #FFFFFF;
    text-decoration: none;
}

.width-100 {
    width: 100%;
    box-sizing: border-box;
}

#notification {
    padding: 12px;
    position: fixed;
    z-index: 1;
}

#notification_link {
    margin: 0 auto;
}

#xo-jobs #background {
    content: "";
    background: url("/images/renh56dv2vq-yolanda-sun.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    left: 0;
    opacity: 0.65;
    position: fixed;
    top: 0;
    width: 100%;
}

#xo-fundus #background {
    content: "";
    background: url("/images/pexels-photo-167200.jpeg") no-repeat center;
    background-size: cover;
    height: 100vh;
    left: 0;
    opacity: 0.4;
    position: fixed;
    top: 0;
    width: 100%;
}

#xo-home #products:before {
    content: "";
    background: url("/images/pexels-photo-93001.jpeg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
}

#xo-home #contact-us:before {
    content: "";
    background: url("/images/pexels-photo-245618.jpeg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
}

#xo-home #jobs:before {
    content: "";
    background: url("/images/renh56dv2vq-yolanda-sun.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
}

#xo-home #fund-us:before {
    content: "";
    background: url("/images/pexels-photo-167200.jpeg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
}
